body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calculatorBody {
    background-color: #f3f3f3;
    border: 4px solid black;;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

#display {
    background-color: rgb(221, 221, 221);
    border: 3px solid rgb(204, 204, 204);
    text-align: right;
    margin: 20px;
    padding: 5px;
    height: 10%;
    font-size: 2.5em;
}

.box-button {
  cursor: pointer;
  border: 4px solid black;
  background-color: gray;
  padding-bottom: 10px;
  transition: 0.1s ease-in-out;
  user-select: none;
  width: 10vh;
}

.button {
  cursor: pointer;
  background-color: #dddddd;
  border: 4px solid #fff;
  padding: 3px 8px;
  font-size: 1.2em;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
}

.box-button:active {
  padding: 0;
  margin-bottom: 10px;
  transform: translateY(10px);
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}